.header {
    background-color: #03012C;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.headerLeft {
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
}

.headerRight {
    justify-content: space-between;
    align-items: flex-start;
    text-decoration: none;
}

.link {
    color: #ffffff;
    text-decoration: none;
}